.container {
  position: relative;
  flex: 1 1 auto;
	overflow: hidden;
  display: flex;
}

.meta {
  position: absolute;
  top: 50%;
  width: 20em;
  left: 50%;
  translate: -50% -50%;
  background-color: var(--darkened-background-color);
  padding: 2em;
  border-radius: 13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.meta.has_log {
  top: 1em;
  /* right property doesn't seem to work, that's why the workaround */
  left: calc(100% - 1em);
  translate: -100% 0;
}

.meta.minimized {
  width: fit-content;
  border-radius: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: none;
  padding: 1em;
  top: unset;
  bottom: 0;
  left: 3em;
  translate: 0 0;
}

.meta > * {
  width: 100%;
}

.meta > *:not(:first-child) {
  margin-top: 1.5em;
}

.content {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

.loglist {
  flex: 1 1 auto;
  overflow-y: auto;
  width: fit-content;
}

.loader {
  position: absolute;
  z-index: 100000;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
}

.loader > * {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}