.container {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: fit-content; 
  height: calc(100vh - 4em);
  width: 30vw;
  background-color: var(--darkened-background-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 2em;
}

.container > *:not(:first-child) {
  margin-top: 1em;
}


.action_group {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  display: block;
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 5px;
}

.packet_blacklist {
  margin-top: 2em !important;
}
