.container {
  flex: 1 1 auto;
  overflow-y: auto;
}

.line:not(:last-child) {
  border-bottom: 1px solid #777;
}

.line {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  padding: 0.5rem;
  gap: 1em;
  user-select: none;
  cursor: pointer;
}

.line:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.timestamp {
  text-align: center;
  color: var(--color-green);
  background-color: rgba(255, 255, 255, 0.1);
}

.legacy_packet_name {
  opacity: 0.7;
}

.expanded {
  grid-column: span 2;
  width: 100%;
  max-height: 70vh;
  display: flex;
  flex-direction: row;
}

.expanded > pre {
  background: transparent !important;
  width: 100%;
}