.container {
  flex: 0 0 auto;
  overflow-y: auto;
  width: fit-content;
  background-color: var(--darkened-background-color);
  padding: 2em;
}

.container > *:not(:first-child) {
  margin-top: 1em;
}


.action_group {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
}

.title {
  display: block;
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 5px;
}

.packet_blacklist {
  margin-top: 2em !important;
}

.config > * {
  margin-top: 0.5em;
}