@font-face {
  font-family: "JetBrains Mono";
  src: local("/public/JetBrainsMono-Regular.woff2");
}

:root {
  --background-color: #282c34;
  --darkened-background-color: #1e2229;
  --lightened-background-color: #596172;
  --color-green: #8cd881;
  --color-red: #ff6b6b;
  --color-orange: #dda11d;
  --text-color: #ccd0db;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--background-color);
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


code {
  font-family: "JetBrains Mono", monospace;
}
